jtbdivelogbook-persistence-xml/src/main/resources/resources/xml/divers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="divers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="diver" type="diver"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="diver">
		<xs:sequence>
			<xs:element name="firstname" type="xs:string"></xs:element>
			<xs:element name="lastname" type="xs:string"></xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"></xs:attribute>
	</xs:complexType>
</xs:schema>
